<div class="card" *ngIf="!isGuest; else guestTemplate ">
  <div class="card-body">
    <!-- Row 1: Quote Title | Price List -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ProposalName'" [(ngModel)]="quote.ProposalName" [required]="true" [errorMsg]="errMessages.requiredProposalName"
            (ngModelChange)="quoteChange()" [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-output-field [record]="quote.PriceList" field="Name" [label]="'CUSTOM_LABELS.PRICELIST' | translate"
            [editable]="false" [showQuickView]="true"></apt-output-field>
        </div>
      </div>
    </div>
    <!-- Row 2: Primary Contact | RFP Response Due Date -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field placeholder="{{'CREATE_QUOTE.SEARCH_CONTACTS' | translate }}" [entity]="quote"
            [field]="'PrimaryContact'" [lookupOptions]="lookupOptions" [required]="true"
            [(ngModel)]="quote.PrimaryContact" (ngModelChange)="primaryContactChange()"
            [errorMsg]="errMessages.requiredPrimaryContact">
          </apt-input-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'RFPResponseDueDate'" [(ngModel)]="quote.RFPResponseDueDate"
            (ngModelChange)="quoteChange()">
          </apt-input-field>
        </div>
      </div>
    </div>
    <!-- Row 3: Ship To | Bill To -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ShipToAccount'" [(ngModel)]="quote.ShipToAccount"
            (ngModelChange)="shipToChange()"></apt-input-field>
          <small class="px-1 font-italic d-block" *ngIf="shipToAccount$ | async as shipToAccount">
            <apt-address [ngModel]="quote?.ShipToAccount" [readonly]="true" type="Shipping" [showLabel]="false">
            </apt-address>
          </small>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'BillToAccount'" [(ngModel)]="quote.BillToAccount"
            (ngModelChange)="billToChange()"></apt-input-field>
          <small class="px-1 font-italic d-block" *ngIf="billToAccount$ | async as billToAccount">
            <apt-address [ngModel]="quote?.BillToAccount" [readonly]="true" type="Billing" [showLabel]="false">
            </apt-address>
          </small>
        </div>
      </div>
    </div>
    <!-- Row 4: Source Channel -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-output-field [record]="quote" field="SourceChannel" [label]="'COMMON.SOURCE_CHANNEL' | translate"
            [editable]="false"></apt-output-field>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #guestTemplate>
  <div class="card">
    <div class="card-body">
      <form class="needs-validation" novalidate #form="ngForm">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <apt-input-field name="proposalName" [entity]="quote" [field]="'ProposalName'"
                [(ngModel)]="quote.ProposalName" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredProposalName"
                [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <apt-input-field [entity]="quote" name="rfpResponseDueDate" [field]="'RFPResponseDueDate'"
                [(ngModel)]="quote.RFPResponseDueDate" (ngModelChange)="quoteChange()">
              </apt-input-field>
            </div>
          </div>
        </div>
        <ng-container *ngIf="primaryContact">
          <div class="row">
            <div class="col-md-6">
              <apt-input-field name="firstName" [labelClass]="'font-weight-normal'" [entity]="primaryContact"
                [field]="'FirstName'" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredFirstName" [(ngModel)]="primaryContact.FirstName">
              </apt-input-field>
            </div>
            <div class="col-md-6">
              <apt-input-field name="lastName" [labelClass]="'font-weight-normal'" [entity]="primaryContact"
                [field]="'LastName'" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredLastName" [(ngModel)]="primaryContact.LastName">
              </apt-input-field>
            </div>
            <div class="col-md-6">
              <apt-input-field name="email" [labelClass]="'font-weight-normal'" [placeholder]="'you@example.com'"
                [entity]="primaryContact" (ngModelChange)="quoteChange()" [field]="'Email'" [required]="true"
                [errorMsg]="errMessages.requiredEmail" [(ngModel)]="primaryContact.Email">
              </apt-input-field>
            </div>
          </div>
          <apt-address [(ngModel)]="primaryContact" (addressChange)="quoteChange()" type="Billing" [form]="form"
            name="billingAddress" [required]="true">
          </apt-address>

          <hr class="my-4">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="same-address"
              [(ngModel)]="shippingEqualsBilling" name="shippingEqualsBilling">
            <label class="custom-control-label pt-1" for="same-address">{{'CART.SHIPPING_AS_BILLING' |
              translate}}</label>
          </div>

          <!-- Show shipping address section only when checkbox is unchecked -->
          <div *ngIf="!shippingEqualsBilling">
            <h6 class="font-weight-bold text-uppercase mb-3">{{'CART.SHIPPING_ADDRESS' | translate}}</h6>
            <apt-address [(ngModel)]="primaryContact" (addressChange)="quoteChange()" [type]="Shipping" [form]="form" 
              name="shippingAddress" [required]="true">
            </apt-address>
          </div>
        </ng-container>
      </form>

    </div>
  </div>
</ng-template>