<div class="card" *ngIf="!isGuest; else guestTemplate ">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ProposalName'" [(ngModel)]="quote.ProposalName"
            (ngModelChange)="quoteChange()" [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'RFPResponseDueDate'" [(ngModel)]="quote.RFPResponseDueDate"
            (ngModelChange)="quoteChange()">
          </apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field placeholder="{{'CREATE_QUOTE.SEARCH_CONTACTS' | translate }}" [entity]="quote"
            [field]="'PrimaryContact'" [lookupOptions]="lookupOptions" [required]="true"
            [(ngModel)]="quote.PrimaryContact" (ngModelChange)="primaryContactChange()"
            [errorMsg]="errMessages.requiredPrimaryContact">
          </apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ShipToAccount'" [(ngModel)]="quote.ShipToAccount"
            (ngModelChange)="shipToChange()"></apt-input-field>
          <small class="px-3 font-italic d-block" *ngIf="shipToAccount$ | async as shipToAccount">
            <apt-address [ngModel]="quote?.ShipToAccount" [readonly]="true" type="Shipping" [showLabel]="false">
            </apt-address>
          </small>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'BillToAccount'" [(ngModel)]="quote.BillToAccount"
            (ngModelChange)="billToChange()"> </apt-input-field>
          <small class="px-3 font-italic d-block" *ngIf="billToAccount$ | async as billToAccount">
            <apt-address [ngModel]="quote?.BillToAccount" [readonly]="true" type="Billing" [showLabel]="false">
            </apt-address>
          </small>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <!-- <h5 class="py-2" *ngIf="cart.Proposald">//Add back when the API is available
            {{'COMMON.COMMENTS' | translate}} <span *ngIf="comments?.length > 0">({{comments?.length}})</span>
          </h5> -->
          <!-- <div>//Add back when the API is available
            <div class="note-container" *ngIf="cart?.Proposald">
              <ng-scrollbar>
                <ng-container *ngIf="comments?.length > 0; else emptyNotes">
                  <div class="my-3 pb-3 border-bottom" *ngFor="let note of comments">
                    <div class="text-muted d-block mb-2"><strong>{{note?.CreatedBy?.Name}}</strong> {{'COMMON.ON' |
                      translate }}
                      {{note?.CreatedDate | date:'medium'}}</div>
                    <div>
                      {{note?.Body}}
                    </div>
                  </div>
                </ng-container>
                <ng-template #emptyNotes>
                  <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                    <i class="fa fa-4x fa-comments-o mb-2"></i>
                    {{ 'COMMON.NO_COMMENTS_TO_DISPLAY' | translate}}
                  </div>
                </ng-template>
              </ng-scrollbar>
            </div>
            <div class="form-group">
              <apt-input-field [entity]="note" [field]="'Body'" rows="5" label="{{'COMMON.COMMENTS' | translate }}"
                [(ngModel)]="note.Description" name="body" (ngModelChange)="addComment()"></apt-input-field>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #guestTemplate>
  <div class="card">
    <div class="card-body">
      <form class="needs-validation" novalidate #form="ngForm">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <apt-input-field name="proposalName" [entity]="quote" [field]="'ProposalName'"
                [(ngModel)]="quote.ProposalName" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredProposalName"
                [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <apt-input-field [entity]="quote" name="rfpResponseDueDate" [field]="'RFPResponseDueDate'" [(ngModel)]="quote.RFPResponseDueDate"
                (ngModelChange)="quoteChange()">
              </apt-input-field>
            </div>
          </div>
        </div>
        <tabset #staticTabs *ngIf="primaryContact">
          <tab heading="{{'CART.BILLING_ADDRESS' | translate}} " id="billing">
            <div class="row mt-3">
              <div class="col-md-6">
                <apt-input-field name="firstName" [labelClass]="'font-weight-normal'" [entity]="primaryContact"
                  [field]="'FirstName'" (ngModelChange)="quoteChange()" [required]="true"
                  [errorMsg]="errMessages.requiredFirstName" [(ngModel)]="primaryContact.FirstName">
                </apt-input-field>
              </div>
              <div class="col-md-6">
                <apt-input-field name="lastName" [labelClass]="'font-weight-normal'" [entity]="primaryContact"
                  [field]="'LastName'" (ngModelChange)="quoteChange()" [required]="true"
                  [errorMsg]="errMessages.requiredLastName" [(ngModel)]="primaryContact.LastName">
                </apt-input-field>
              </div>
              <div class="col-md-6">
                <apt-input-field name="email" [labelClass]="'font-weight-normal'" [placeholder]="'you@example.com'"
                  [entity]="primaryContact" (ngModelChange)="quoteChange()" [field]="'Email'" [required]="true"
                  [errorMsg]="errMessages.requiredEmail" [(ngModel)]="primaryContact.Email">
                </apt-input-field>
              </div>
            </div>
            <apt-address [(ngModel)]="primaryContact" (addressChange)="quoteChange()" type="Billing" [form]="form"
              name="billingAddress">
            </apt-address>

          </tab>
          <tab heading="{{'CART.SHIPPING_ADDRESS' | translate}}" [disabled]="shippingEqualsBilling" id="shipping">
            <apt-address [(ngModel)]="primaryContact" class="mt-3 d-block" class="mt-3 d-block"
              (addressChange)="quoteChange()" [type]="Shipping" [form]="form" name="shippingAddress">
            </apt-address>

          </tab>
        </tabset>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address" (ngModelChange)="selectTab($event)"
            [(ngModel)]="shippingEqualsBilling" name="shippingEqualsBilling">
          <label class="custom-control-label pt-1" for="same-address">{{'CART.SHIPPING_AS_BILLING' |
            translate}}</label>
        </div>
      </form>

    </div>
  </div>
</ng-template>
