@if (!isGuest) {
<div class="card">
  <div class="card-body">
    <!-- Row 1: Quote Title | Price List -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-input-field [entity]="quote" [field]="'ProposalName'" [(ngModel)]="quote.ProposalName" [required]="true" [errorMsg]="errMessages.requiredProposalName"
            (ngModelChange)="quoteChange()" [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-output-field [record]="quote.PriceList" field="Name" [label]="'CUSTOM_LABELS.PRICELIST' | translate"
            [editable]="false" [showQuickView]="true"></apt-output-field>
        </div>
      </div>
    </div>
    <!-- Row 2: Primary Contact | RFP Response Due Date -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          @if (isExternalUser) {
            <apt-output-field [record]="quote" field="PrimaryContact" [labelClass]="'fw-normal'"
              [editable]="false" [showQuickView]="true"></apt-output-field>
          } @else {
            <apt-input-field placeholder="{{'CREATE_QUOTE.SEARCH_CONTACTS' | translate }}" [entity]="quote"
              [field]="'PrimaryContact'" [lookupOptions]="primaryContactLookupOptions" [required]="true"
              [(ngModel)]="quote.PrimaryContact" (ngModelChange)="primaryContactChange()"
              [errorMsg]="errMessages.requiredPrimaryContact">
            </apt-input-field>
          }
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-input-field [entity]="quote" [field]="'RFPResponseDueDate'" [(ngModel)]="quote.RFPResponseDueDate"
            (ngModelChange)="quoteChange()">
          </apt-input-field>
        </div>
      </div>
    </div>
    <!-- Row 3: Source Channel | Ship To -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-output-field [record]="quote" field="SourceChannel" [label]="'COMMON.SOURCE_CHANNEL' | translate"
            [editable]="false"></apt-output-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-output-field [record]="quote" field="ShipToAccount" [labelClass]="'fw-normal'"
            [editable]="false" [showQuickView]="true"></apt-output-field>
        </div>
      </div>
    </div>
    <!-- Row 4: Shipping Location | Bill To -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-location-picker name="location" [(ngModel)]="quote.Location"
            (locationChange)="onShippingLocationChange()" [accountId]="quote.ShipToAccount?.Id"
            [required]="true" [label]="'CART.SHIPPING_LOCATION' | translate">
          </apt-location-picker>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <apt-output-field [record]="quote" field="BillToAccount" [labelClass]="'fw-normal'"
            [editable]="false" [showQuickView]="true"></apt-output-field>
        </div>
      </div>
    </div>
    <!-- Row 5: Shipping Location Address | Billing Address (read-only) -->
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label class="mutedLabels d-block">{{'CART.SHIPPING_LOCATION_ADDRESS' | translate}}</label>
          @if (quote.Location) {
            <apt-address [value]="quote.Location" [readonly]="true" [showLabel]="false" [layout]="'Block'">
            </apt-address>
          }
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          @if (quote.BillToAccount) {
            <label class="mutedLabels d-block">{{'CART.BILLING_ADDRESS' | translate}}</label>
            <apt-address [value]="quote.BillToAccount" [type]="'Billing'" [readonly]="true" [showLabel]="false"
              [layout]="'Block'">
            </apt-address>
          }
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
  <div class="card">
    <div class="card-body">
      <form class="needs-validation" novalidate #form="ngForm">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <apt-input-field name="proposalName" [entity]="quote" [field]="'ProposalName'"
                [(ngModel)]="quote.ProposalName" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredProposalName"
                [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"></apt-input-field>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <apt-input-field [entity]="quote" name="rfpResponseDueDate" [field]="'RFPResponseDueDate'"
                [(ngModel)]="quote.RFPResponseDueDate" (ngModelChange)="quoteChange()">
              </apt-input-field>
            </div>
          </div>
        </div>
        @if (primaryContact) {
          <div class="row">
            <div class="col-md-6">
              <apt-input-field name="firstName" [labelClass]="'fw-normal'" [entity]="primaryContact"
                [field]="'FirstName'" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredFirstName" [(ngModel)]="primaryContact.FirstName">
              </apt-input-field>
            </div>
            <div class="col-md-6">
              <apt-input-field name="lastName" [labelClass]="'fw-normal'" [entity]="primaryContact"
                [field]="'LastName'" (ngModelChange)="quoteChange()" [required]="true"
                [errorMsg]="errMessages.requiredLastName" [(ngModel)]="primaryContact.LastName">
              </apt-input-field>
            </div>
            <div class="col-md-6">
              <apt-input-field name="email" [labelClass]="'fw-normal'" [placeholder]="'you@example.com'"
                [entity]="primaryContact" (ngModelChange)="quoteChange()" [field]="'Email'" [required]="true"
                [errorMsg]="errMessages.requiredEmail" [(ngModel)]="primaryContact.Email">
              </apt-input-field>
            </div>
          </div>
          <apt-address [(ngModel)]="primaryContact" (addressChange)="quoteChange()" type="Billing" [form]="form"
            name="billingAddress" [required]="true">
          </apt-address>

          <hr class="my-4">
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="same-address"
              [(ngModel)]="shippingEqualsBilling" name="shippingEqualsBilling">
            <label class="form-check-label pt-1" for="same-address">{{'CART.SHIPPING_AS_BILLING' |
              translate}}</label>
          </div>

          <!-- Show shipping address section only when checkbox is unchecked -->
          @if (!shippingEqualsBilling) {
            <h6 class="fw-bold text-uppercase mb-3">{{'CART.SHIPPING_ADDRESS' | translate}}</h6>
            <apt-address [(ngModel)]="primaryContact" (addressChange)="quoteChange()" [type]="Shipping" [form]="form" 
              name="shippingAddress" [required]="true">
            </apt-address>
          }
        }
      </form>

    </div>
  </div>
}