<app-detail *ngIf="order$ | async as order; else loading" [context]="order" [route]="'orders'">

  <div class="btn-group secondary-actions" role="group" [ngSwitch]="order?.Status"
    [tooltip]="order.hasErrors ? ('DETAILS.MISSING_REQ_FIELDS' | translate) : ''">

  </div>
  <div class="detail-header">
    <div class="d-flex align-items-center mb-2">
      <span class="page-header d-lg-block d-md-block d-sm-none d-none">{{ order?.Name }}</span>
      <span tooltip="{{order?.Name}}" class="page-header d-lg-none d-md-none d-sm-block d-block">{{ order?.Name | truncate:13 }}</span>
      <span class="badge badge-primary ml-3 px-3 py-1 border" *ngIf="order?.Status">{{order?.Status}}</span>
      <div *ngIf="order?.Proposal as proposal" class="ml-auto">
        <apt-output-field [record]="proposal" field="Name" labelClass="d-none" [editable]="false"
          [showQuickView]="true"></apt-output-field>
      </div>
    </div>
  </div>

  <app-detail-section [title]="'DETAILS.ORDER_SUMMARY' | translate">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-header">
            <h5>
              {{'DETAILS.ORDER_SUMMARY' | translate}}
            </h5>
          </div>
          <div class="card-body">
            <div>
              <apt-alert [record]="order"></apt-alert>
            </div>
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="CreatedDate" [editable]="false">
                </apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order.CreatedBy" field="Name" [label]="'COMMON.CREATED_BY' | translate"
                  [editable]="false"></apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="PrimaryContact" displayValue="PrimaryContact"
                  [editable]="isLoggedIn && (orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented')"
                  [showQuickView]="true" [lookupOptions]="lookupOptions" [required]="true"
                  (onChange)="refreshOrder($event, order, 'PrimaryContact')"></apt-output-field>
              </div>
            </div>
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="SoldToAccount" displayValue="SoldToAccount"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.ACCOUNT_NAME' | translate" [editable]="false"
                  [showQuickView]="true"></apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="Description"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.DESCRIPTION' | translate" field="Description"
                  [editable]="isLoggedIn && (orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented')"
                  [showQuickView]="true"
                  (onChange)="refreshOrder($event.Description, order, 'Description')"></apt-output-field>
              </div>
            </div>
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="ShipToAccount" displayValue="ShipToAccount"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.SHIP_TO_ACCOUNT' | translate"
                  [editable]="isLoggedIn && (orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented')"
                  [showQuickView]="true" [required]="true" (onChange)="refreshOrder($event, order, 'ShipToAccount')">
                </apt-output-field>
                <apt-address [value]="order?.ShipToAccount" [type]="'Shipping'"
                  [label]="'COMMON.SHIPPING_ADDRESS' | translate" [readonly]="true"></apt-address>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="order" field="BillToAccount" displayValue="BillToAccount"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.BILL_TO_ACCOUNT' | translate"
                  [editable]="isLoggedIn && (orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented')"
                  [showQuickView]="true" (onChange)="refreshOrder($event, order, 'BillToAccount')"></apt-output-field>
                <apt-address [value]="order?.BillToAccount" [type]="'Billing'"
                  [label]="'COMMON.BILLING_ADDRESS' | translate" [readonly]="true"></apt-address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <apt-price-summary [record]="order" [page]="'orders'" [showStatus]="true"></apt-price-summary>
      </div>
    </div>
  </app-detail-section>

  <div class="pt-4">
     <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
    <div class="card">
      <div *ngIf="orderLineItems$ | async as orderLineItems">
        <div class="card-header">
          <h5>
            {{'DETAILS.LINE_ITEMS' | translate}}
            <button class="btn text-primary px-4 ml-1" [ladda]="lineItemLoader" data-style="zoom-in"
              *ngIf="isLoggedIn && (order?.Status === 'Draft' || order?.Status === 'Generated' || order?.Status === 'Presented') && orderLineItems?.length > 0"
              data-spinner-color="black" (click)="editOrderItems(order)">{{'COMMON.EDIT' | translate}}
            </button>
          </h5>
        </div>
        <div class="card-body">
          <div *ngIf="orderLineItems?.length > 0; else noProducts">
            <table class="table">
              <tbody>
                <ng-container *ngFor="let item of orderLineItems; let i = index">
                  <apt-line-item-table-row [cart]="cartRecord" [index]="i" [parent]="item.MainLine"
                    [options]="item.Flat" [children]="item.SecondaryLines" [editableFields]="false">
                  </apt-line-item-table-row>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
     </app-detail-section>
  </div>
  <div class="pt-4">
    <app-detail-section [title]="'DETAILS.ATTACHMENTS' | translate" class="mt-4">
    <div class="card" #attachmentSection *ngIf="attachmentList$ | async as attachmentList; else loading">
      <div class="card-header">
        <h5>
          {{'DETAILS.ATTACHMENTS' | translate}}
          <span *ngIf="attachmentList?.length > 0">({{attachmentList?.length}})</span>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 d-none d-lg-block d-md-block d-sm-none border-right attachment-container">
            <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
              <div class="table-container overflow-auto">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="Name"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileSize"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileType"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedBy"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata"
                          field="CreatedDate" [labelOnly]="true">
                        </apt-output-field></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of attachmentList; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>
                        <a class="text-underline" (click)="downloadAttachment(attachment?.DocumentMetadata?.Id)"
                          target="_blank">{{attachment?.DocumentMetadata?.Name}}</a>
                      </td>
                      <td>{{(attachment?.DocumentMetadata?.FileSize/1024).toFixed(2)}}KB</td>
                      <td>{{attachment?.DocumentMetadata?.FileType}}</td>
                      <td>{{'COMMON.ATTACHMENT_DETAILS.BY' | translate}}
                        {{attachment?.DocumentMetadata?.CreatedBy.Name}}</td>
                      <td>{{attachment?.DocumentMetadata?.CreatedDate | date:'short'}}</td>
                      <td><button *ngIf="isLoggedIn" class="btn btn-link p-0 m-0" (click)="deleteAttachment(attachment)"
                          [ladda]="attachment?.DocumentMetadata?._metadata?.deleting" data-style="zoom-in"
                          data-spinner-color="black">
                          <span class="fa fa-trash"></span>
                        </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #emptyAttachments>
              <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                <i class="fa fa-4x fa-file-o mb-2"></i>
                {{'COMMON.ATTACHMENT_DETAILS.NO_ATTACHMENTS' | translate}}
              </div>
            </ng-template>
          </div>
          <div class="col-12 d-block d-lg-none d-md-none d-sm-block attachment-container">
            <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
              <div class="table-container overflow-auto">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="Name"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileSize"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileType"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedBy"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata"
                          field="CreatedDate" [labelOnly]="true">
                        </apt-output-field></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of attachmentList; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>
                        <a class="text-underline" (click)="downloadAttachment(attachment?.DocumentMetadata?.Id)"
                          target="_blank">{{attachment?.DocumentMetadata?.Name}}</a>
                      </td>
                      <td>{{(attachment?.DocumentMetadata?.FileSize/1024).toFixed(2)}}KB</td>
                      <td>{{attachment?.DocumentMetadata?.FileType}}</td>
                      <td>{{'COMMON.ATTACHMENT_DETAILS.BY' | translate}}
                        {{attachment?.DocumentMetadata?.CreatedBy.Name}}</td>
                      <td>{{attachment?.DocumentMetadata?.CreatedDate | date:'short'}}</td>
                      <td><button class="btn btn-link p-0 m-0" (click)="deleteAttachment(attachment)"
                          [ladda]="attachment?.DocumentMetadata?._metadata?.deleting" data-style="zoom-in"
                          data-spinner-color="black">
                          <span class="fa fa-trash"></span>
                        </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #emptyAttachments>
              <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                <i class="fa fa-4x fa-file-o mb-2"></i>
                {{'COMMON.ATTACHMENT_DETAILS.NO_ATTACHMENTS' | translate}}
              </div>
            </ng-template>
          </div>
          <div class="col-12 col-md-6 pt-sm-3 pt-3">
            <form (ngSubmit)="uploadAttachment(order.Id)">
              <label class="font-weight-bold">{{'COMMON.ATTACHMENT_DETAILS.TITLE' | translate}}</label>
              <div
                class="file-section bg-white d-flex align-items-center justify-content-center border-secondary file-upload"
                (dragover)="onDragFile($event)" (drop)="onDropFile($event)" data-max-size="26214400">
                <label class="py-5 px-4 position-relative" for="browse"><span><i
                      class="fa fa-4x fa-cloud-upload text-black-50"></i></span><span
                    class="pl-2">{{'COMMON.ATTACHMENT_DETAILS.INPUT_LABEL' | translate}}</span><span
                    class="pl-1 text-underline cursor-pointer">{{'COMMON.ATTACHMENT_DETAILS.BROWSE' |
                    translate}}</span></label>
                <input #fileInput id="browse" class="d-none p-5" type="file" (change)="fileChange($event)" />
              </div>
              <div class="mt-2" *ngIf="hasSizeError && file != null">
                <p class="text-danger">
                  {{'COMMON.ATTACHMENT_DETAILS.FILE_SIZE_EXCEEDED_ERROR' | translate}}
                </p>
              </div>

              <div class="mt-2" *ngIf="file==null && isSupportedFileType && supportedFileTypes?.length">
                <p>
                  {{
                    "COMMON.ATTACHMENT_DETAILS.SUPPORTED_FILE_TYPES"
                    | translate:{supportedFileTypes:supportedFileTypes}
                    }}
                </p>
              </div>

              <div class="mt-2" *ngIf="!isSupportedFileType && file != null && supportedFileTypes?.length">
                <p class="text-danger">
                  {{
                    "COMMON.ATTACHMENT_DETAILS.UNSUPPORTED_FILE_TYPE_ERROR"
                    | translate:{supportedFileTypes:supportedFileTypes}
                    }}
                </p>
              </div>
              <div class="form-group">
                <div class="mt-2" *ngIf="uploadFileList && !hasSizeError && isSupportedFileType">
                  <div class="d-flex justify-content-between" *ngFor="let file of uploadFileList">
                    <div class="w-50">
                      <input type="checkbox" [(ngModel)]="isPrivate" name="attachmentVisibilityScope"
                        id="attachmentScope">
                      <label class="ml-2 " for="attachmentScope">{{'COMMON.ATTACHMENT_DETAILS.MAKE_VISIBILITY_PRIVATE' |
                        translate}}</label>
                    </div>
                    <div class="w-40"><span>{{file?.name}}</span></div>
                    <div class="w-10"><span>{{(file?.size/1024).toFixed(2)}} KB</span></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-link" (click)="clearFiles()" type="button">{{'COMMON.CLEAR' |
                  translate}}</button>
                <button class="btn btn-primary btn-primary" type="submit"
                  [disabled]="(!isSupportedFileType ||hasSizeError && file != null) || !file" [ladda]="attachmentsLoader">{{'COMMON.UPLOAD' |
                  translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </app-detail-section>
  </div>
</app-detail>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
    {{'COMMON.NO_ITEMS_FOUND' | translate}}
  </div>
</ng-template>