<div class="w-100">
  <div class="d-flex justify-content-center">
    <footer class="border-top p-5">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <h4 class="text-secondary">
            <strong>
              {{ 'FOOTER.TITLE' | translate }}
            </strong>
          </h4>
          <p class="mt-4 mb-0">
            {{ 'FOOTER.DESCRIPTION_1' | translate }}
          </p>
          <p class="text-left">
            {{ 'FOOTER.DESCRIPTION_2' | translate }}
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3" *ngIf="categories?.length > 0">
          <h4 class="pl-sm-4 text-secondary">
            <strong>{{'FOOTER.PRODUCTS' | translate}}</strong>
          </h4>
          <ul class="mt-3 pl-sm-4 list-unstyled">
            <li *ngFor="let category of categories">
              <button class="btn btn-link small px-0"
                [routerLink]="['/products/category', category.Id]">
                <span [title]="category.Label">
                  {{category.Label | truncate:21}}
                </span>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <h4 class="pl-sm-4 text-secondary">
            <strong>{{'FOOTER.MY_ACCOUNT' | translate}}</strong>
          </h4>
          <ul class="mt-3 list-unstyled pl-sm-4">
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/dashboard']">{{'MY_ACCOUNT.OVERVIEW' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/orders']">{{'COMMON.ORDERS' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/quotes']">{{'COMMON.QUOTES' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/carts']">{{'COMMON.CARTS' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/favorites']">{{'COMMON.FAVORITES' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/assets']">{{'COMMON.INSTALLED_PRODUCTS' |
                translate}}</button>
            </li>
            <li>
              <button class="btn btn-link small px-0" [routerLink]="['/my-account/settings']">{{'MY_ACCOUNT.SETTINGS' |
                translate}}</button>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <h4 class="text-secondary">
            <strong>{{'FOOTER.GET_IN_TOUCH' | translate}}</strong>
          </h4>
          <form #contactForm="ngForm" class="mt-4" (ngSubmit)="onContactFormSubmit(contactForm)">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="contactFormDetails.name" name="name"
                placeholder="{{'FOOTER.YOUR_NAME_HERE' | translate}}" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" [(ngModel)]="contactFormDetails.email" name="email"
                placeholder="{{'FOOTER.YOUR_EMAIL_HERE' | translate}}" required email>
            </div>
            <div class="form-group">
              <textarea class="px-2 form-control" [(ngModel)]="contactFormDetails.message" name="message"
                placeholder="{{'FOOTER.YOUR_MESSAGE_HERE' | translate}}" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid"
              [ladda]="contactFormLoading">{{'FOOTER.SUBMIT' | translate}}</button>
          </form>
        </div>
      </div>
    </footer>
  </div>
  <div class="bg-dark text-white d-flex justify-content-between px-4 py-2">
    <div>{{copyrightMessage}}</div>
  </div>
</div>