@import "../../../variables.scss";

:host,
li {
    font-size: small;
    color: $gray-600;
}

li>button {
    font-size: small;
    padding-right: 0;
    padding-left: 0;
    color: $gray-600;
}

footer {
    width: 85rem;
    max-width: 100%;
}