<app-detail *ngIf="quote; else loading" [context]="quote" [route]="'proposals'">
  <div class="detail-header">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="page-header d-lg-block d-md-block d-sm-none d-none">{{quote?.Name}}</span>
        <span tooltip="{{quote?.Name}}" class="page-header d-block d-sm-block d-md-none d-lg-none">{{quote?.Name |
          truncate:13}}</span>
        <span class="badge badge-primary mt-1 ml-3 px-3 py-2 border text-uppercase"
          *ngIf="quote?.ApprovalStage">{{quote?.ApprovalStage}}</span>
      </div>
      <apt-generate-document [record]="quote" *ngIf="quote.ApprovalStage !== 'Accepted'"
        [ngClass]="quote.ApprovalStage === 'Draft' ?  'pr-2 ml-auto d-lg-block d-md-block d-sm-none d-none ' : 'pr-3 ml-auto d-lg-block d-md-block d-sm-none d-none'"
        (onStatusUpdate)="onGenerateQuote()">
      </apt-generate-document>
      <div *ngIf="quote?.Items?.length > 0" class="pr-3 d-lg-block d-md-block d-sm-none d-none">
        <button type="button"
          [ngClass]="quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' ?  'btn btn-outline-primary btn-link text-primary text-primary' :'btn btn-primary btn-raised'"
          [ladda]="acceptLoader"
          *ngIf="quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented'"
          (click)="acceptQuote(quote?.Id, quote?.PrimaryContact?.Id)">{{'COMMON.ACCEPT_QUOTE'
          |translate}}</button>
      </div>
      <!-- TO do : remove comment add back the changes when we integrate the functionality -->
      <!-- <button type="button" class="btn btn-primary btn-raised py-2" [ladda]="finalizeLoader"
        *ngIf="quote?.ApprovalStage === 'Draft'" (click)="finalizeQuote(quote?.Id)"
        [disabled]="true">{{'MY_ACCOUNT.QUOTE_DETAIL.FINALIZE'
        |translate}}</button>
      <div class="align-items-stretch d-flex" *ngIf="quote?.ApprovalStage === 'Generated'">
        <apt-present-document [record]="quote"></apt-present-document>
      </div> -->
      <div class="d-sm-block d-block ml-auto d-md-none d-lg-none pt-2"
        *ngIf="quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented' || quote?.ApprovalStage === 'Approved'">
        <div class="dropdown">
          <a class="fa fa-ellipsis-v dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-right px-3" aria-labelledby="dropdownMenuButton">
            <ng-container *ngTemplateOutlet="quoteActionButtons"></ng-container>
          </div>
        </div>
      </div>
      <div class="d-lg-block d-md-block d-sm-none d-none"
        *ngIf="quote?.ApprovalStage === 'Accepted' && order$ | async as order">
        <span class="pr-4 d-flex align-items-baseline">
          <apt-output-field [record]="order" field="Name" [label]="'MY_ACCOUNT.ORDER_DETAIL.ORDER_ID' | translate"
            layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
          <span class="badge badge-primary ml-1">{{order?.Status}}</span>
        </span>
      </div>
    </div>
    <div class="d-lg-none d-md-none d-sm-block d-block"
      *ngIf="quote?.ApprovalStage === 'Accepted' && order$ | async as order">
      <span class="pr-4 d-flex align-items-baseline">
        <apt-output-field [record]="order" field="Name" [label]="'MY_ACCOUNT.ORDER_DETAIL.ORDER_ID' | translate"
          layout="inline" [editable]="false" [showQuickView]="true"></apt-output-field>
        <span class="badge badge-primary ml-1">{{order?.Status}}</span>
      </span>
    </div>
  </div>

  <app-detail-section [title]="'DETAILS.QUOTE_SUMMARY' | translate">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-header">
            <h5>{{'DETAILS.QUOTE_SUMMARY' | translate}}</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="Name" [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate"
                  [DisplayName]="ProposalName"
                  [editable]="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented')"
                  (onChange)="refreshQuote($event.Name, quote, 'Name')">
                </apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="CreatedDate" [editable]="false">
                </apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote.CreatedBy" field="Name" [label]="'COMMON.CREATED_BY' | translate"
                  [editable]="false"></apt-output-field>
              </div>
            </div>
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="RFPResponseDueDate"
                  [editable]="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented')"
                  (onChange)="refreshQuote($event.RFPResponseDueDate, quote, 'RFPResponseDueDate')">
                </apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" [field]="'PrimaryContact'"
                  [label]="'MY_ACCOUNT.QUOTE_DETAIL.PRIMARY_CONTACT' | translate" [displayValue]="'PrimaryContact'"
                  [editable]="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented')"
                  [showQuickView]="true" [lookupOptions]="lookupOptions"
                  (onChange)="refreshQuote($event, quote, 'PrimaryContact')">
                </apt-output-field>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="Account" [displayValue]="'Account'"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.ACCOUNT_NAME' | translate" [editable]="false"
                  [showQuickView]="true"></apt-output-field>
              </div>
            </div>
            <div class="row">
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="ShipToAccount" [displayValue]="'ShipToAccount'"
                  [editable]="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented')"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.SHIP_TO_ACCOUNT' | translate" [showQuickView]="true"
                  (onChange)="refreshQuote($event, quote, 'ShipToAccount')"></apt-output-field>
                <apt-address [value]="quote.ShipToAccount" [type]="'Shipping'"
                  [label]="'COMMON.SHIPPING_ADDRESS' | translate" [readonly]="true">
                </apt-address>
              </div>
              <div class="flex-shrink-1 col-md-4 mb-2">
                <apt-output-field [record]="quote" field="BillToAccount" [displayValue]="'BillToAccount'"
                  [editable]="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented')"
                  [label]="'MY_ACCOUNT.ORDER_DETAIL.BILL_TO_ACCOUNT' | translate" [showQuickView]="true"
                  (onChange)="refreshQuote($event, quote, 'BillToAccount')"></apt-output-field>
                <apt-address [value]="quote.BillToAccount" [type]="'Billing'"
                  [label]="'COMMON.BILLING_ADDRESS' | translate" [readonly]="true">
                </apt-address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <apt-price-summary [record]="quote" [page]="'quotes'"></apt-price-summary>
      </div>
    </div>
  </app-detail-section>
  
  <div class="pt-4">
    <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
    <div class="card">
      <div *ngIf="quoteLineItems$ | async as quoteLineItems">
        <div class="card-header">
          <h5>
            {{'DETAILS.LINE_ITEMS' | translate}}
            <button class="btn text-primary px-2 ml-1"
              *ngIf="isLoggedIn && (quote?.ApprovalStage === 'Draft' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Approved'|| quote?.ApprovalStage === 'Presented')"
              [ladda]="editLoader" data-style="zoom-in" data-spinner-color="black" (click)="editQuoteItems(quote)">{{
              (quoteLineItems?.length > 0 ? 'COMMON.EDIT' : 'COMMON.ADD' ) | translate }}</button>
          </h5>
        </div>
        <div class="card-body">
          <ng-container *ngIf="quoteLineItems?.length >0; else showMessage">
            <table class="table border-bottom">
              <tbody>
                <ng-container *ngFor="let item of quoteLineItems; let i = index">
                  <apt-line-item-table-row [cart]="cartRecord" [index]="i" [parent]="item.MainLine"
                    [options]="item.Flat" [children]="item.SecondaryLines" [editableFields]="false">
                  </apt-line-item-table-row>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
          <ng-template #showMessage>
            <div class="d-flex align-items-center justify-content-center">
              <h6 class="text-muted mr-2 mb-0">
                {{ 'COMMON.NO_LINE_ITEMS_MESSAGE' | translate: { record: 'quote' } }}
              </h6>
              <button class="btn text-primary p-0" [ladda]="editLoader" data-style="zoom-in" data-spinner-color="black"
                (click)="editQuoteItems(quote)">
                {{ 'COMMON.ADD' | translate }}
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
     </app-detail-section>
  </div>

  <div class="pt-4">
    <app-detail-section [title]="'DETAILS.ATTACHMENTS' | translate" class="mt-4">
    <div class="card" #attachmentSection *ngIf="attachmentList$ | async as attachmentList; else loading">
      <div class="card-header">
        <h5>
          {{'DETAILS.ATTACHMENTS' | translate}}
          <span *ngIf="attachmentList?.length > 0">({{attachmentList?.length}})</span>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 d-none d-lg-block d-md-block d-sm-none border-right attachment-container">
            <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
              <div class="table-container overflow-auto">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="Name"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileSize"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileType"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedBy"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata"
                          field="CreatedDate" [labelOnly]="true">
                        </apt-output-field></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of attachmentList; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>
                        <a class="text-underline" (click)="downloadAttachment(attachment?.DocumentMetadata?.Id)"
                          target="_self">{{attachment?.DocumentMetadata?.Name}}</a>
                      </td>
                      <td>{{(attachment?.DocumentMetadata?.FileSize/1024).toFixed(2)}}KB</td>
                      <td>{{getFileType(attachment?.DocumentMetadata?.FileType)}}</td>
                      <td>{{'COMMON.ATTACHMENT_DETAILS.BY' | translate}}
                        {{attachment?.DocumentMetadata?.CreatedBy.Name}}</td>
                      <td>{{attachment?.DocumentMetadata?.CreatedDate | date:'short'}}</td>
                      <td><button *ngIf="isLoggedIn" class="btn btn-link p-0 m-0" (click)="deleteAttachment(attachment)"
                          [ladda]="attachment?.DocumentMetadata?._metadata?.deleting" data-style="zoom-in"
                          data-spinner-color="black">
                          <span class="fa fa-trash"></span>
                        </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #emptyAttachments>
              <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                <i class="fa fa-4x fa-file-o mb-2"></i>
                {{'COMMON.ATTACHMENT_DETAILS.NO_ATTACHMENTS' | translate}}
              </div>
            </ng-template>
          </div>
          <div class="col-12 d-block d-lg-none d-md-none d-sm-block attachment-container">
            <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
              <div class="table-container overflow-auto">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="Name"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileSize"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileType"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedBy"
                          [labelOnly]="true">
                        </apt-output-field></th>
                      <th scope="col"><apt-output-field [record]="attachmentList[0].DocumentMetadata"
                          field="CreatedDate" [labelOnly]="true">
                        </apt-output-field></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of attachmentList; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>
                        <a class="text-underline" (click)="downloadAttachment(attachment?.DocumentMetadata?.Id)"
                          target="_self">{{attachment?.DocumentMetadata?.Name}}</a>
                      </td>
                      <td>{{(attachment?.DocumentMetadata?.FileSize/1024).toFixed(2)}}KB</td>
                      <td>{{getFileType(attachment?.DocumentMetadata?.FileType)}}</td>
                      <td>{{'COMMON.ATTACHMENT_DETAILS.BY' | translate}}
                        {{attachment?.DocumentMetadata?.CreatedBy.Name}}</td>
                      <td>{{attachment?.DocumentMetadata?.CreatedDate | date:'short'}}</td>
                      <td><button class="btn btn-link p-0 m-0" (click)="deleteAttachment(attachment)"
                          [ladda]="attachment?.DocumentMetadata?._metadata?.deleting" data-style="zoom-in"
                          data-spinner-color="black">
                          <span class="fa fa-trash"></span>
                        </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <ng-template #emptyAttachments>
              <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                <i class="fa fa-4x fa-file-o mb-2"></i>
                {{'COMMON.ATTACHMENT_DETAILS.NO_ATTACHMENTS' | translate}}
              </div>
            </ng-template>
          </div>
          <div class="col-12 col-md-6 pt-sm-3 pt-3">
            <form (ngSubmit)="uploadAttachment(quote.Id)">
              <label class="font-weight-bold">{{'COMMON.ATTACHMENT_DETAILS.TITLE' | translate}}</label>
              <div class="file-section d-flex align-items-center justify-content-center border-secondary file-upload"
                (dragover)="onDragFile($event)" (drop)="onDropFile($event)" data-max-size="26214400">
                <label class="py-5 px-4 position-relative" for="browse"><span><i
                      class="fa fa-4x fa-cloud-upload text-black-50"></i></span><span
                    class="pl-2">{{'COMMON.ATTACHMENT_DETAILS.INPUT_LABEL' | translate}}</span><span
                    class="pl-1 text-underline cursor-pointer">{{'COMMON.ATTACHMENT_DETAILS.BROWSE' |
                    translate}}</span></label>
                <input #fileInput id="browse" class="d-none p-5" type="file" (change)="fileChange($event)" />
              </div>
              <div class="mt-2" *ngIf="hasSizeError && file != null">
                <p class="text-danger">
                  {{'COMMON.ATTACHMENT_DETAILS.FILE_SIZE_EXCEEDED_ERROR' | translate}}
                </p>
              </div>
              
              <div class="mt-2" *ngIf="file==null && isSupportedFileType && supportedFileTypes?.length">
                <p>
                  {{
                    "COMMON.ATTACHMENT_DETAILS.SUPPORTED_FILE_TYPES"
                    | translate:{supportedFileTypes:supportedFileTypes}
                    }}
                </p>
              </div>

              <div class="mt-2" *ngIf="!isSupportedFileType && file != null && supportedFileTypes?.length">
                <p class="text-danger">
                  {{
                    "COMMON.ATTACHMENT_DETAILS.UNSUPPORTED_FILE_TYPE_ERROR"
                    | translate:{supportedFileTypes:supportedFileTypes}
                    }}
                </p>
              </div>
              <div class="form-group">
                <div class="mt-2" *ngIf="uploadFileList && !hasSizeError && isSupportedFileType">
                  <div class="d-flex justify-content-between" *ngFor="let file of uploadFileList">
                    <div class="w-50">
                      <input type="checkbox" [(ngModel)]="isPrivate" name="attachmentVisibilityScope"
                        id="attachmentScope">
                      <label class="ml-2 " for="attachmentScope">{{'COMMON.ATTACHMENT_DETAILS.MAKE_VISIBILITY_PRIVATE' |
                        translate}}</label>
                    </div>
                    <div class="w-40"><span>{{file?.name}}</span></div>
                    <div class="w-10"><span>{{(file?.size/1024).toFixed(2)}} KB</span></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-link" (click)="clearFiles()" type="button">{{'COMMON.CLEAR' |
                  translate}}</button>
                <button class="btn btn-primary btn-primary" type="submit"
                  [disabled]="(!isSupportedFileType ||hasSizeError && file != null) || !file" [ladda]="attachmentsLoader">{{'COMMON.UPLOAD' |
                  translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
     </app-detail-section>
  </div>
  <ng-template #intimationTemplate>
    <div class="modal-header align-items-center d-flex flex-row-reverse pb-0 border-bottom border-secondary">
      <button type="button" class="close close-button pull-right pr-0" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white d-flex flex-column justify-content-center py-4">
      <h6 class="modal-title pull-left font-weight-bold pb-2">
        {{'COMMON.ACCEPT_QUOTE' | translate}}
      </h6>
      <p class="text-center"><strong>{{ 'MODAL.THANK_YOU' | translate }}!</strong></p>
      <span class="text-center" [translate]="'DETAILS.SUCCESSFUL_QUOTE_ACCEPTANCE_MESSAGE'"
        [translateParams]="{quoteName: quote?.Name}"></span>
    </div>
  </ng-template>
</app-detail>

<ng-template #quoteActionButtons>
  <div>
    <apt-generate-document [record]="quote" [ngClass]="'p-0 m-0'"
      (onStatusUpdate)="onGenerateQuote()">
    </apt-generate-document>
  </div>
  <div *ngIf="quote?.Items?.length > 0">
    <button type="button" [ladda]="acceptLoader" class="btn-link btn text-primary px-2 ml-auto"
      *ngIf="quote?.ApprovalStage === 'Approved' || quote?.ApprovalStage === 'Generated' || quote?.ApprovalStage === 'Presented'"
      (click)="acceptQuote(quote?.Id, quote?.PrimaryContact?.Id)">{{'COMMON.ACCEPT_QUOTE'
      |translate}}</button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>