<ng-container *ngIf="view$ | async as view; else loadingTemplate">
  <apt-breadcrumb class="border-bottom py-2" [sobject]="view?.cart" [route]="'carts'" *ngIf="readOnly; else cartBreadcrumb">
  </apt-breadcrumb>

  <ng-template #cartBreadcrumb>
    <apt-breadcrumb class="border-bottom py-2" [label]="'COMMON.MANAGE_CART' | translate"> </apt-breadcrumb>
    <apt-constraint-rule-alert></apt-constraint-rule-alert>
  </ng-template>

  <apt-alert message="ERROR.CART.VALIDATE" [showCartError]="true" [autoRun]="false"></apt-alert>
  <div class="container-fluid" [ngClass]="'py-2'">
    <div class="px-4">
      <div class="detail-header pb-2">
        <div class="d-flex justify-content-between">
          <span class="m-0 d-flex cart-title">
            <apt-output-field [record]="cart" field="Name" [valueOnly]="true" layout="inline"
              (onChange)="refreshCart($event.Name, cart, 'Name')">
            </apt-output-field>

            <span class="badge badge-primary ml-2 align-self-center" *ngIf="cart?.Status">{{ cart?.Status }}</span>
          </span>

          <button *ngIf="!readOnly" class="btn btn-outline-primary align-self-center d-lg-block d-md-block d-sm-none d-none" [routerLink]="['/products']">
            {{ "COMMON.ADD_PRODUCTS" | translate }}
          </button>
          <apt-add-to-cart *ngIf="readOnly" [customButtonActions]="customButtonActions" [ngClass]="'d-lg-block d-md-block d-sm-none d-none'"
            [showQuantityControls]="false"></apt-add-to-cart>
          <div class="d-sm-flex d-flex ml-auto d-md-none d-lg-none mt-3 justify-content-end dropdown">
            <a class="fa fa-ellipsis-v dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <ng-container *ngTemplateOutlet="cartActionButtons"></ng-container>
            </div>
          </div>
        </div>
        <div class="d-sm-flex d-flex ml-auto d-md-none d-lg-none mt-3">

        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-8">
          <div class="d-flex flex-column">
            <div class="card">
              <div class="card-header border-bottom py-2">
                <h5 class="m-0">
                  {{ "DETAILS.CART_SUMMARY" | translate }}
                </h5>
              </div>
              <div class="card-body">
                <div class="row header-section d-flex-justify-content-between">
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart" field="CreatedDate" [editable]="false">
                    </apt-output-field>
                  </div>
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart.CreatedBy" field="Name"
                      [label]="'COMMON.CREATED_BY' | translate" [editable]="false"></apt-output-field>
                  </div>
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart" field="ModifiedDate" [editable]="false">
                    </apt-output-field>
                  </div>
                </div>
                <div class="row header-section d-flex-justify-content-between">
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart.ModifiedBy" field="Name"
                      [label]="'COMMON.MODIFIED_BY' | translate" [editable]="false"></apt-output-field>
                  </div>
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart.Account" field="Owner" [editable]="false">
                    </apt-output-field>
                  </div>
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [record]="view?.cart" field="PriceList" [showQuickView]="true" [editable]="false">
                    </apt-output-field>
                  </div>
                </div>
                <div class="row header-section d-flex-justify-content-between">
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [labelClass]="'w-50'" [valueClass]="'w-50'" [record]="view?.cart" *ngIf="
                    view?.cart.Status === 'Finalized' &&
                        view?.cart.BusinessObjectType === 'Order'
                      " [label]="'MY_ACCOUNT.CART_DETAIL.ASSOCIATED_TO' | translate"
                      [routerLink]="['/orders/', cart.Order.Id]" field="BusinessObjectId" [showQuickView]="true"
                      [editable]="false">
                    </apt-output-field>
                  </div>
                  <div class="flex-shrink-1 col-md-4 mb-2">
                    <apt-output-field [labelClass]="'w-50'" [valueClass]="'w-50'" [record]="view?.cart" *ngIf="
                        view?.cart.Status === 'Finalized' &&
                        view?.cart.BusinessObjectType === 'Proposal'
                      " [label]="'MY_ACCOUNT.CART_DETAIL.ASSOCIATED_TO' | translate"
                      [routerLink]="['/proposals/', cart.BusinessObjectId]" field="BusinessObjectId"
                      [showQuickView]="true" [editable]="false">
                    </apt-output-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 pt-lg-0 pt-md-0 pt-sm-3 pt-3">
          <apt-price-summary [record]="view?.cart" [page]="'carts'" [readonly]="readOnly" [disabled]="disabled"
            [showTotalsOnly]="true" [loading]="loading" (onFinalizeQuote)="convertCartToQuote(view?.cart?.Proposald)"
            (onShowPanel)="openNav()"></apt-price-summary>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="d-flex flex-column">
            <div class="mt-4">
              <div class="d-block border-bottom card">
                <div class="card-header d-flex justify-content-between align-items-center py-0">
                  <h4 class="card-title mb-1">
                    <span *ngIf="view?.orderOrQuote?.Id; else manageCart">{{
                      "DETAILS.LINE_ITEMS" | translate
                      }}</span>

                    <ng-template #manageCart>
                      <span>{{
                        "MANAGE_CART.CART_TABLE.ITEMS_IN_YOURCART" | translate
                        }}</span>
                    </ng-template>
                  </h4>

                  <span class="d-flex text-primary align-items-center">
                    <apt-line-item-menu></apt-line-item-menu>
                    <apt-select-all [items]="primaryLI" class="pt-3"></apt-select-all>
                  </span>
                </div>
                <div class="pt-3 pl-3">
                  <form class="input-group input-group-sm col-lg-4 col-md-4 col-sm-12 col-12 d-flex align-items-center pl-0">
                    <div class="input-group-append position-absolute">
                      <button class="btn btn-link">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <input type="search" class="form-control" placeholder="{{'COMMON.SEARCH_LINE_ITEMS' | translate}}"
                      [(ngModel)]="searchText" name="searchText" (ngModelChange)="searchChange()">
                  </form>
                </div>
                <div class="table">
                  <table class="table" *ngIf="view?.lineItems?.length > 0; else empty">
                    <tbody>
                      <ng-container *ngFor="
                      let item of view?.lineItems;
                      let i = index;
                      trackBy: trackById
                    ">
                        <apt-line-item-table-row *ngIf="!item.MainLine?._metadata?.hide" [index]="i" [cart]="view?.cart"
                          [parent]="item.MainLine" [children]="item.SecondaryLines" [readOnly]="readOnly"
                          [editableFields]="false">
                        </apt-line-item-table-row>
                      </ng-container>
                    </tbody>
                  </table>
                </div>

                <ng-template #empty>
                  <div class="d-flex justify-content-center align-items-center h-100 flex-column m-5 p-5">
                    <i class="fa fa-shopping-cart fa-5x text-primary xl text-faded"></i>

                    <h3 class="mt-4">
                      {{ "MANAGE_CART.CART_TABLE.CART_EMPTY" | translate }}
                    </h3>

                    <div class="mt-3">
                      <a href="javascript:void(0)" [routerLink]="['/products']" class="mr-2">{{
                        "MANAGE_CART.CART_TABLE.ALL_PRODUCTS" | translate }}</a>

                      <button class="btn btn-primary btn-raised" [routerLink]="['/']">
                        {{ "MANAGE_CART.CART_TABLE.HOMEPAGE" | translate }}
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="view?.productList?.length > 0">
        <div class="col-12">
          <h4 class="mb-3 text-muted">
            {{ "COMMON.YOU_MAY_ALSO_LIKE" | translate }}
          </h4>
          <apt-product-carousel [productList]="view?.productList"></apt-product-carousel>
        </div>
      </div>
    </div>
  </div>
  <div id="mySidenav" class="sidenav h-100 position-fixed" [ngClass]="showSideNav? 'showNav': ''">
    <apt-price-summary [record]="view?.cart" [page]="'carts'" [readonly]="readOnly" [disabled]="disabled"
    [loading]="loading" (onFinalizeQuote)="convertCartToQuote(view?.cart?.Proposald)"
    (onHidePanel)="closeNav()"></apt-price-summary>
    <apt-promotion class="mt-3" [cart]="view?.cart" [readOnly]="readOnly"></apt-promotion>
</div>
</ng-container>

<ng-template #cartActionButtons>
  <div>
    <button *ngIf="!readOnly"
            class="btn-link btn text-primary "
            [routerLink]="['/products']">
            {{ "COMMON.ADD_PRODUCTS" | translate }}
          </button>
  </div>
  <div>
    <button *ngIf="readOnly" class="btn-link btn text-primary" (click)="openCloneCartModal()">{{ "MY_ACCOUNT.CART_LIST.CLONE_CART" | translate }}</button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div class="d-flex justify-content-center pt-5 mt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>

<!-- Template for creating new cart -->
<ng-template #cloneCartTemplate>
  <form (ngSubmit)="cloneCart()">
    <div class="modal-header d-flex flex-row-reverse px-0 pb-1">
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeCloneCartModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body pt-0 bg-white custom-border-bottom-radius-0">
      <h4 class="modal-title pull-left font-weight-bold  pb-3 pt-2">
        {{'MY_ACCOUNT.CART_LIST.CLONE_CART' | translate }}
      </h4>
      <div>
        <apt-input-field placeholder="{{'COMMON.NAME' | translate}}" name="cartName" [(ngModel)]="cartName"
          [showLabel]="false" field="Name" [entity]="cart"></apt-input-field>
      </div>
      <small class="text-danger animated fadeIn" *ngIf="message">{{message}}</small>
    </div>
    <div class="d-flex justify-content-end modal-footer border-top  bg-white">
      <button class="btn btn-link pr-1" type="button" (click)="closeCloneCartModal()">{{'COMMON.CANCEL' |
        translate}}</button>
      <button class="btn button btn-primary btn-raised px-1 m-0 w-25" type="submit" [ladda]="loading">{{'COMMON.SAVE' |
        translate}}</button>
    </div>
  </form>
</ng-template>