<app-detail [title]="viewState?.product?.Name" [subtitle]="viewState?.product?.ProductCode"
    [context]="viewState?.product" *ngIf="viewState$ | async as viewState; else loading">
    <div class="constraintAlerts">
        <apt-alert [record]="activeCart" [autoRun]="false" [showPriceError]="priceProgress"></apt-alert>
        <apt-constraint-rule-alert></apt-constraint-rule-alert>
    </div>

    <app-detail-section [title]="'PRODUCT_DETAILS.DETAILS' | translate">
        <div class="row px-1 mt-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <apt-product-images [product]="viewState?.product"></apt-product-images>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <!-- For large and Medium screens -->
                <div class="card d-lg-block d-md-block d-sm-none d-none border-0">
                    <div class="card-body pt-0 pl-2 pb-2 d-flex align-items-start flex-column">

                        <!-- Description -->
                        <div>
                            <ng-template [ngTemplateOutlet]="productDescription"></ng-template>
                        </div>

                        <!-- Prices -->
                        <ng-template [ngTemplateOutlet]="productPrices"></ng-template>

                        <!-- Simple product -->
                        <ng-container
                            *ngIf="!viewState?.product?.HasAttributes && !viewState?.product?.HasOptions; else complex">
                            <!-- Quantity -->
                            <div class="form-group mt-3 w-50">
                                <div class="w-25">
                                    <label class="mr-3"> {{'COMMON.QUANTITY' | translate}} </label>
                                    <input type="number" min="1" class="form-control quantity"
                                        [(ngModel)]="viewState.quantity" name="quantity"
                                        [id]="'simple-product-quantity'" />
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="mt-3 d-flex">
                                <apt-add-to-cart [showQuantityControls]="false" (onAddToCart)="onAddToCart($event)"
                                    [configurationEnabled]="false" [quantity]="viewState.quantity" [aboEnabled]="false"
                                    [cartItems]="(cartItemList?.length > 0) ? cartItemList : null"
                                    [product]="product ? product: viewState?.product"
                                    [btnClass]="'btn-primary btn-raised px-3 py-2 text-nowrap'"
                                    [disabled]="configurationPending">
                                </apt-add-to-cart>
                            </div>
                        </ng-container>

                        <!-- Complex Product -->
                        <ng-template #complex>
                            <!-- Quantity -->
                            <div class="form-group mt-3 w-50">
                                <div class="w-25">
                                    <label class="mb-1"> {{'COMMON.QUANTITY' | translate}} </label>
                                    <input type="number" [id]="'complex-product-quantity'" min="1"
                                        class="form-control quantity" [(ngModel)]="viewState.quantity"
                                        (change)="changeProductQuantity(viewState.quantity)" name="quantity" />
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="mt-3 d-flex">

                                <button class="btn btn-outline-primary mr-3 text-nowrap"
                                    *ngIf="(viewState?.product?.HasAttributes || viewState?.product?.HasOptions)"
                                    (click)="showSummary();">
                                    {{'DETAILS.PRICE_SUMMARY' | translate}}
                                </button>

                                <ng-container *ngIf="viewState?.relatedTo; else newProduct">
                                    <button class="btn btn-primary mr-3 text-nowrap" [routerLink]="['/carts','active']">
                                        {{'MINI_CART.VIEW_CART' | translate}}
                                    </button>
                                    <div class="form-group mr-3 my-0 d-flex align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                [(ngModel)]="viewState.relatedTo.IsOptional"
                                                [id]="viewState?.relatedTo?.Id"
                                                [checked]="viewState?.relatedTo?.IsOptional"
                                                (ngModelChange)="changeProductToOptional($event)">
                                            <label class="custom-control-label pl-1 pt-1"
                                                [for]="viewState?.relatedTo?.Id">{{'PRODUCT_DETAILS.IS_OPTIONAL' |
                                                translate}}</label>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-template #newProduct>
                                    <div class="d-flex align-items-center">
                                        <apt-add-to-cart [showQuantityControls]="false" [configurationEnabled]="false"
                                            [quantity]="viewState.quantity" (onAddToCart)="onAddToCart($event)"
                                            [cartItems]="cartItemList" [product]="product ? product: viewState?.product"
                                            [aboEnabled]="false" [cart]="!viewState?.relatedTo ? cart : null"
                                            [btnClass]="'btn-primary btn-raised px-3'"
                                            [disabled]="configurationPending">
                                        </apt-add-to-cart>
                                    </div>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                </div>


                <!-- For Small screens -->
                <div class="card border-0 d-lg-none d-md-none d-sm-block d-block">
                    <div class="card-body pt-0 pl-2 pb-2 d-flex align-items-start flex-column">

                        <!-- Description -->
                        <div class="mt-3">
                            <ng-template [ngTemplateOutlet]="productDescription"></ng-template>
                        </div>

                        <!-- Prices -->
                        <ng-template [ngTemplateOutlet]="productPrices"></ng-template>

                        <!-- Simple product -->
                        <ng-container
                            *ngIf="!viewState?.product?.HasAttributes && !viewState?.product?.HasOptions; else complexSmallScreen">

                            <!-- Quantity -->
                            <div class="form-group mt-3 w-75">
                                <div class="w-25">
                                    <label class="mr-3"> {{'COMMON.QUANTITY' | translate}} </label>
                                    <input type="number" min="1" class="form-control quantity"
                                        [(ngModel)]="viewState.quantity" name="quantity"
                                        [id]="'simple-product-quantity-sm'" />
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="mt-3 d-flex">
                                <apt-add-to-cart [showQuantityControls]="false" (onAddToCart)="onAddToCart($event)"
                                    [configurationEnabled]="false" [quantity]="viewState.quantity" [aboEnabled]="false"
                                    [cartItems]="(cartItemList?.length > 0) ? cartItemList : null"
                                    [product]="product ? product: viewState?.product"
                                    [btnClass]="'btn-primary btn-raised px-3 py-2 text-nowrap'"
                                    [disabled]="configurationPending">
                                </apt-add-to-cart>
                            </div>
                        </ng-container>

                        <!-- Complex Product -->
                        <ng-template #complexSmallScreen>

                            <!-- Quantity -->
                            <div class="form-group mt-3 w-75">
                                <div class="w-25">
                                    <span class="mr-1"> {{'COMMON.QTY' | translate}} </span>
                                    <input type="number" min="1" class="form-control quantity"
                                        [(ngModel)]="viewState.quantity" [id]="'complex-product-quantity-sm'"
                                        (change)="changeProductQuantity(viewState.quantity)" name="quantity" />
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="form-group mt-3 d-flex">

                                <button class="btn btn-outline-primary mr-3 text-nowrap"
                                    *ngIf="(viewState?.product?.HasAttributes || viewState?.product?.HasOptions)"
                                    (click)="showSummary();">
                                    {{'DETAILS.PRICE_SUMMARY' | translate}}
                                </button>

                                <ng-container *ngIf="viewState?.relatedTo; else newProductSmallScreen">
                                    <button class="btn btn-primary mr-3 text-nowrap" [routerLink]="['/carts','active']">
                                        {{'MINI_CART.VIEW_CART' | translate}}
                                    </button>
                                </ng-container>

                                <ng-template #newProductSmallScreen>
                                    <div class="d-flex align-items-center">
                                        <apt-add-to-cart [showQuantityControls]="false" [configurationEnabled]="false"
                                            [quantity]="viewState.quantity" (onAddToCart)="onAddToCart($event)"
                                            [cartItems]="cartItemList" [product]="product ? product: viewState?.product"
                                            [aboEnabled]="false" [cart]="!viewState?.relatedTo ? cart : null"
                                            [btnClass]="'btn-primary btn-raised px-3'"
                                            [disabled]="configurationPending">
                                        </apt-add-to-cart>
                                    </div>
                                </ng-template>
                            </div>

                            <!-- Is Optional Checkbox -->
                            <div *ngIf="viewState?.relatedTo" class="form-group mt-2 d-flex align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        [(ngModel)]="viewState.relatedTo.IsOptional" [id]="viewState?.relatedTo?.Id"
                                        [checked]="viewState?.relatedTo?.IsOptional"
                                        (ngModelChange)="changeProductToOptional($event)">
                                    <label class="custom-control-label pl-1 pt-1"
                                        [for]="viewState?.relatedTo?.Id">{{'PRODUCT_DETAILS.IS_OPTIONAL' |
                                        translate}}</label>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </app-detail-section>


    <app-detail-section [title]="'PRODUCT_DETAILS.CONFIGURATIONS' | translate"
        *ngIf="(viewState?.product?.HasAttributes || viewState?.product?.HasOptions)">
        <div class="row mt-4">
            <h4 class="text-muted col-12"> {{'PRODUCT_DETAILS.CONFIGURATIONS' | translate}} </h4>
            <div class="col-12">
                <apt-product-configuration [product]="viewState?.product" [relatedTo]="viewState?.relatedTo"
                    [discovery]="discovery" [accordion]="true" (click)="configurationChanged = true">
                </apt-product-configuration>
            </div>
        </div>
    </app-detail-section>

    <app-detail-section [title]="'PRODUCT_DETAILS.SPECIFICATIONS' | translate"
        *ngIf="viewState?.product?.ProductFeatureValues?.length > 0">
        <div class="row mt-4">
            <h4 class="text-muted col-12"> {{'PRODUCT_DETAILS.SPECIFICATIONS' | translate}} </h4>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <app-tab-features [product]="viewState?.product" class="animated fadeIn d-block">
                        </app-tab-features>
                    </div>
                </div>
            </div>
        </div>
    </app-detail-section>

    <ng-container *ngIf="recommendedProducts$ | async as recommendedProducts">
        <app-detail-section *ngIf="recommendedProducts?.length"
            [title]="'PRODUCT_DETAILS.RECOMMENDED_PRODUCTS' | translate">
            <div class="row mt-4">
                <h4 class="text-muted col-12"> {{'PRODUCT_DETAILS.RECOMMENDED_PRODUCTS' | translate}} </h4>
                <div class="col-12">
                    <apt-product-carousel [productList]="recommendedProducts" slides="5"></apt-product-carousel>
                </div>
            </div>
        </app-detail-section>
    </ng-container>

    <!-- Product Description -->
    <ng-template #productDescription>
        <label class="mb-0 h6">
            {{ 'PRODUCT_DETAILS.DETAILS' | translate }}
        </label>
    
        <apt-output-field [record]="viewState?.product" field="Description" [valueOnly]="true"
            [class.clamp-2-lines]="isTextOverflowing(viewState?.product?.Description)" [editable]="false"
            [valueClass]="'px-0 pb-0 pt-2'" class="mt-2"></apt-output-field>
    
        <button *ngIf="isTextOverflowing(viewState?.product?.Description)" class="btn btn-link p-0"
            (click)="openProductDescriptionModal()"> {{ 'COMMON.SHOW_MORE' | translate }}
            <i class="fa fa-angle-double-right ml-1"></i>
        </button>
    
    </ng-template>

    <!-- Product Prices -->
    <ng-template #productPrices>
        <div class="d-flex mt-3">
            <div class="py-0 pr-lg-5 pr-md-5 pr-sm-4 pr-4 text-nowrap align-items-end border-right">
                <label [id]="'standard-price-label'" class="mb-2 d-block text-right-lg mt-1">
                    {{'PRODUCT_DETAILS.STANDARD_PRICE' |
                    translate}} </label>
                <h5 [id]="'standard-price-value'">
                    <apt-price [record]="viewState?.product" type="list"></apt-price>
                </h5>
            </div>

            <div class="py-0 pl-lg-5 pl-md-5 pl-sm-4 pl-4 align-items-end">
                <label [id]="'net-price-label'" class="mb-2 d-block text-right-lg mt-1">
                    {{'COMMON.NET_PRICE' |
                    translate}}
                </label>
                <h5>
                    <ng-container *ngIf="cartItemList?.length > 0 || viewState?.relatedTo; else productPrice">
                        <span [id]="'net-price-value'" *ngIf="primaryLineItem?.NetPrice; else pricemask">
                            {{ primaryLineItem?.NetPrice | localCurrency | async }}
                        </span>
                    </ng-container>
                    <ng-template #productPrice>
                        <apt-price [record]="viewState?.product" type="list">
                        </apt-price>
                    </ng-template>
                </h5>
            </div>
        </div>
    </ng-template>

    <!-- Product Description Modal -->
    <ng-template #productDescriptionModal>
        <div class="modal-header align-items-center d-flex flex-row-reverse pt-0 mt-3 px-0 pb-2">
            <button type="button" class="close close-button pull-right" aria-label="Close"
                (click)="closeProductDescriptionModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body d-flex flex-column justify-content-center pb-3 pt-1 bg-white scrollbar">

            <h6 class="modal-title pull-left font-weight-bold p-2 mt-2">
                {{ 'PRODUCT_DETAILS.PRODUCT_DETAIL' | translate }}
            </h6>

            <apt-output-field [record]="viewState?.product" field="Description" [valueOnly]="true" [editable]="false"
                class="p-2"></apt-output-field>

        </div>
    </ng-template>

    <apt-product-configuration-summary *ngIf='viewState?.product?.HasOptions || viewState?.product?.HasAttributes'
        [product]="viewState?.product" [relatedTo]="viewState?.relatedTo" [changes]="cartItemList" [preload]="true"
        position="right" #configSummary>
    </apt-product-configuration-summary>
</app-detail>

<ng-template #loading>
    <div class="d-flex justify-content-center pt-5">
        <apt-dots></apt-dots>
    </div>
</ng-template>

<ng-template #pricemask>
    <span class="d-flex ml-auto">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <sup class="m-1">
            <i class="fa fa-asterisk fa-xs" aria-hidden="true"></i>
        </sup>
    </span>
</ng-template>