<div class="card animated fadeIn">
    <div class="card-header border-bottom py-2">
        <h5 class="card-title m-0">{{ 'CART.CART_SUMMARY.YOUR_CART' | translate }}</h5>
    </div>

    <div class="card-body">
        <div style="list-style-type: none;">
            <ng-container *ngFor="let item of paginatedLineItems; let i = index; let isLast = last">
                <ng-container
                    *ngIf="item.LineType === 'Product/Service' && !item.ParentBundleNumber && !item.IsOptionRollupLine && item.IsPrimaryLine">
                    <div class="mb-3 d-flex">
                        <!-- Product Image -->
                        <img class="align-self-start mr-3 rounded" [src]="item.Product?.IconId | image"
                            alt="{{ item.Product?.Name }}" width="60" height="60">
                        <div class="flex-fill bg-white">
                            <!-- Line 1: Product Name (left) | Net Price (right) -->
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="mb-0 font-weight-bold">{{ item.Product?.Name }}</h6>
                                <span class="font-weight-bold text-nowrap ml-2">{{ item?.NetPrice | localCurrency |
                                    async }}</span>
                            </div>
                            <!-- Line 2: ID & Quantity (left) | Net Price label (right) -->
                            <div class="d-flex justify-content-between align-items-baseline">
                                <div
                                    class="text-muted small inline-fields d-flex flex-column flex-lg-row flex-wrap align-items-lg-baseline">
                                    <apt-output-field *ngIf="item?.Product?.ProductCode" [record]="item?.Product"
                                        field="ProductCode" [label]="'COMMON.ID' | translate" layout="inline"
                                        [editable]="false"></apt-output-field>
                                    <apt-output-field class="ml-lg-3" [record]="item" field="Quantity" layout="inline"
                                        [editable]="false"></apt-output-field>
                                    <apt-output-field *ngIf="item?.PriceUom" class="d-none d-md-inline-flex ml-lg-3"
                                        [record]="item" field="PriceUom" layout="inline"
                                        [editable]="false"></apt-output-field>
                                    <apt-output-field *ngIf="item?.ChargeType" class="d-none d-md-inline-flex ml-lg-3"
                                        [record]="item" field="ChargeType" layout="inline"
                                        [editable]="false"></apt-output-field>
                                    <span class="text-success ml-lg-3"
                                        *ngIf="item?.IncentiveAdjustmentAmount && item?.IncentiveAdjustmentAmount < 0">
                                        {{ 'PROMOTION.PROMOTIONS' | translate }}: {{item.IncentiveAdjustmentAmount | localCurrency
                                        | async}}
                                    </span>
                                </div>
                                <small class="text-muted text-nowrap ml-2">{{ 'COMMON.NET_PRICE' | translate }}</small>
                            </div>
                            <!-- Line 3: Details Link -->
                            <small *ngIf="item.Product?.HasAttributes || item.Product?.HasOptions">
                                <a href="javascript:void(0)" (click)="openModal(item)">{{ 'CART.CART_SUMMARY.DETAILS' |
                                    translate }}</a>
                            </small>
                        </div>
                    </div>
                    <hr class="my-2" *ngIf="!isLast" />
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Pagination Controls -->
<div *ngIf="lineItems && paginationTotalVal > itemsPerPage" class="d-flex justify-content-between align-items-center mt-3">
    <div class="d-flex align-items-center">
        <div class="text-muted small mr-3">
            {{ 'PRODUCT_LIST.SHOW_COUNT_OF_RECORDS_MESSAGE' | translate: {minVal: paginationMinVal, maxVal: paginationMaxVal, totalVal: paginationTotalVal} }}
        </div>
        <div class="d-none d-sm-none d-md-flex align-items-center">
            <label class="mb-0 mr-2 text-muted small">{{ 'PRODUCT_LIST.SHOW' | translate }}</label>
            <select class="form-control form-control-sm" style="width: auto;" 
                    [value]="itemsPerPage" 
                    (change)="onItemsPerPageChange($event.target.value)">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
        </div>
    </div>
    <div *ngIf="paginationTotalVal > itemsPerPage">
        <!-- Large/Medium screens: show maxSize 5 -->
        <div class="d-none d-md-block">
            <pagination (pageChanged)="onPageChange($event)" [totalItems]="paginationTotalVal" 
                [(ngModel)]="currentPage" [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" 
                [maxSize]="5" [firstText]="paginationButtonLabels.first" [previousText]="paginationButtonLabels.previous" 
                [responsive]="true" [nextText]="paginationButtonLabels.next" [lastText]="paginationButtonLabels.last">
            </pagination>
        </div>
        <!-- Small/Mobile screens: show maxSize 1 -->
        <div class="d-block d-md-none">
            <pagination (pageChanged)="onPageChange($event)" [totalItems]="paginationTotalVal" 
                [(ngModel)]="currentPage" [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" 
                [maxSize]="1" [firstText]="paginationButtonLabels.first" [previousText]="paginationButtonLabels.previous" 
                [responsive]="true" [nextText]="paginationButtonLabels.next" [lastText]="paginationButtonLabels.last">
            </pagination>
        </div>
    </div>
</div>

<!-- <h4 class=" mb-3 mt-5">
    <span class="text-muted">Configuration Summary</span>
</h4>
<div class="card">
    <div class="card-body">
        <small class="mb-3 d-block">
            Your own personalised quote complete with an overview of all of your options. Send to an email address or download directly
            to your device.
        </small>
        <small class="text-info">{{state.configurationMessage}}</small>
        <button class="btn btn-block btn-outline-primary" (click)="generatePdf()" [ladda]="state.downloadLoading" data-style="zoom-in" data-spinner-color="black">Download</button>
        <button class="btn btn-block btn-outline-primary">Send as Email</button>
    </div>
</div> -->

<!-- <h4 class=" mb-3 mt-5">
    <span class="text-muted">Request a Quote</span>
</h4>
<div class="card">
    <div class="card-body">
        <small class="mb-3 d-block">
             Request a quote for your configuration and someone will be in touch to discuss next steps.
        </small>
        <button class="btn btn-block btn-outline-primary" [ladda]="state.requestQuoteLoading" data-style="zoom-in" (click)="createQuote()" data-spinner-color="black">Request a Quote</button>
    </div>
</div> -->

<!--<ng-template #productDetails>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{lineItem?.Product.Name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <apt-product-configuration-summary [item]="lineItem">
      </apt-product-configuration-summary>
    </div>
</ng-template>-->

<apt-product-configuration-summary *ngIf="lineItem" [product]="lineItem.Product" [relatedTo]="lineItem">
</apt-product-configuration-summary>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> {{generatedQuoteName}} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmationModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center align-items-center confirmation py-5">
        <i class="far fa-check-circle"></i>
    </div>
    <div class="modal-footer d-flex justify-content-center flex-wrap flex-md-nowrap">
        <button class="btn btn-secondary d-block w-100 m-2" [routerLink]="['/']" (click)="confirmationModal.hide()"> {{
            'CART.CART_SUMMARY.CONTINUE_SHOPPING' | translate }} </button>
        <button class="btn btn-primary d-block w-100 m-2" [routerLink]="['/my-account', 'quotes', generatedQuote.Name]"
            (click)="confirmationModal.hide()"> {{ 'CART.CART_SUMMARY.QUOTE_DETAILS' | translate }} </button>
    </div>
</ng-template>